{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="hg">
        <br>
        <hr>
        <h1 class="clr">Online Shopping for Women at PeriwinleRose</h1>
        <hr>
        <br>
    </div>
    <div>
        <p class="para">PeriwinleRose - Stores is a trusted online destination for impeccable fashion solution.
            When you wish to have something trendy and classy, this online shopping store could pamper your
            shopping needs with impeccable options. A beautiful world of natural fabrics, elegant block prints
            and charming designs. Ladies' wear, kid's wear, men's wear, accessories and home furnishings -- at
            Kessa, each bear a distinctive style. Every piece is of natural fabric & colors and is chosen with
            great care and passion.</p>
        <br>
        <p class="para">Kessa describes as adorableness - a true inspiration, a brand all about passion for crafts and
            tradition from all across India. From hand-block of deserts of Kutch called Ajrakh to the weaves of
            Andhra called 'Ikat', not leaving behind silks of Banaras and yes of course the very famous art
            Sanganer print of Jaipur. We at Kessa aim to bring you high quality clothing at affordable prices.
            We are creating a contemporary Indian way of living, dressing and beholding for the world.</p>
        <br>
        <p class="para">The beauty and authenticity of the label rests in the textile process, where material pass through
            the hands of one craftsman to the other, carrying forward the Indian tradition of hand made
            craftsmanship and, in the process, creating pieces that have unique story to share. Every craft,
            every product has many urban legends and tales depicting their origin. Every product that we make
            with love and passion has a message for you. Come and be a part of this modern day tale as we take
            it forward with your love and support. You can carry this message and spread it to others; this
            message may mean many things to many people but to us this message is simple and clear...
        </p>
        <br>
        <p class="para">"The label brings together Indian elements and global sensibility."</p>
    </div>
</div>

{% endblock %}
 

 