{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load cart %}
{% load custom_filter %}

<div class="container">
    <div class="brd rounded p-4 m-4">
        <div class="container hdupper" style="text-align: center;">
            <img class="img-fluid w-25 rounded-circle img-thumbnail" src="{% static 'img/credit.jpg' %}">
        </div>
        <h1 class="display-3 pl-2 ml-2 hding">Your Orders</h1>
        <br>
        <table class="table text-center">
            <thead class="table">
                <tr>
                    <th>Serial No.</th>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Date</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img style="height: 80px;" class="rounded-circle" src="{{order.product.image.url}}" alt=""></td>
                    <td>{{order.product.name}}</td>
                    <td>{{order.date}}</td>
                    <td>{{order.price|currency}}</td>
                    <td>{{order.quantity}}</td>
                    <td>{{order.quantity|multiply:order.price|currency}}</td>
                    {% if order.status %}
                    <td><small class="badge badge-success">Completed</small></td>
                    {% else %}
                    <td><small class="badge badge-warning">Pending</small></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>
</div>

{% endblock %}