{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <hr>
            <h3 style="text-align: center; color: rgb(128, 33, 104);">Search Results for {{request.GET.keyword}}</h3>
            <hr>

            <div class="row mx-auto">
                {% for result in results %}
                <div class="card mx-auto mb-3">
                    <div class="card" style="width: 18rem;">
                        <img src="{{result.image.url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{result.name}}</h5>
                            <p class="card-text">{{result.description}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{result.price}}</li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
{% endblock %}